
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader > * {
    position: absolute;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-width: 3px;
    border-top-color: #374151;
    animation: spin 2s linear infinite;
}

.loader-thin {
    border-top-width: 2px;
}

.reverse {
    animation-direction: reverse;
}

.loader > *:nth-child(2n) {
    border-top-color: #FBBF24;
    transition-duration: 1.2s;
}

.loader > *:nth-child(3n) {
    border-top-color: green;
    animation-duration: 2.5s;
}

.loader > *:nth-child(4n) {
    border-top-color: red;
    animation-duration: 1s;
}